body{
    background-image: url('http://www.zingerbugimages.com/backgrounds/stars_background.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}
h1 {
        text-align: center;
        text-decoration: underline;
        color: purple;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40px;
}
 h2 {
    
        text-align: center;
        text-decoration: underline;
        color:whitesmoke;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
 }
h3 {
        text-align: center;
        text-shadow: chocolate;
        color: white;
        font-family: Helvetica, Arial;
        font-size: 20px;
        border-image: 10pt;
        }