body {
    align-self: center;
    text-align: center;
    background: linear-gradient(224deg, #493937, #302321ea, #291211, #270907);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 17%}
    50%{background-position:100% 84%}
    100%{background-position:0% 17%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 17%}
    50%{background-position:100% 84%}
    100%{background-position:0% 17%}
}
@keyframes AnimationName { 
    0%{background-position:0% 17%}
    50%{background-position:100% 84%}
    100%{background-position:0% 17%}
}
div {
    color: white;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 15px;
    padding: 20px 20px 20px 20px;
    position: relative;
    box-shadow: 0px 1px 5px #999;
    animation: 10s alternate;
    


}
h1{
    font-family: "Sofia", sans-serif;
    font-size: 60px;
}

button {
	box-shadow: 3px 3px 0px 0px #3f0808;
	background:linear-gradient(to bottom, #4d2b2b 5%, #421212 100%);
	background-color:#421c1c;
	border-radius:18px;
	border:1px solid #4b2c2c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:17px;
	font-style:italic;
	padding:13px 54px;
	text-decoration:none;
	text-shadow:0px 2px 0px #3b2719;
}
button:hover {
	background:linear-gradient(to bottom, #962d1f 5%, #8d503d 100%);
	background-color:#642525;
}
button:active {
	position:relative;
	top:1px;
}
}
