body {
    align-self: center;
    text-align: center;
    background: linear-gradient(224deg, #8ba7d3, #587facea, #47a4e2, #26789e);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 17%}
    50%{background-position:100% 84%}
    100%{background-position:0% 17%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 17%}
    50%{background-position:100% 84%}
    100%{background-position:0% 17%}
}
@keyframes AnimationName { 
    0%{background-position:0% 17%}
    50%{background-position:100% 84%}
    100%{background-position:0% 17%}
}
div {
    color: black;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 15px;
    padding: 20px 20px 20px 20px;
    position: relative;
    box-shadow: 0px 1px 5px #999;
    animation: 10s alternate;
    


}
h1{
    font-family: "Sofia", sans-serif;
    font-size: 60px;
}

button {
	box-shadow: 3px 3px 0px 0px #08103f;
	background:linear-gradient(to bottom, #423b9b 5%, #5a63bb 100%);
	background-color:#362f92;
	border-radius:18px;
	border:1px solid #484ea1;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:17px;
	font-style:italic;
	padding:13px 54px;
	text-decoration:none;
	text-shadow:0px 2px 0px #c26323;
}
button:hover {
	background:linear-gradient(to bottom, #151b6b 5%, #3d508d 100%);
	background-color:#3b2564;
}
button:active {
	position:relative;
	top:1px;
}
}
